<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.picklon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--统计-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--push-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".PicklonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.GuideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.activities.TermsAcitivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.MyAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.EditAddressActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.MyWalletActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.RedeemActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.CouponActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.AccountRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.PartnerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ShareActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.AboutUsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.FeedbackActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.NewOrderActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.OrderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.OrderRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.OrderSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ItemListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.PaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.StatusActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.OrderStatusActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.DeliverActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ChangeMobileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.MobileNumberActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.RegulationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.InboxActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider406612956349372"
            android:exported="true" />

        <!--push-->
        <service android:name=".push.service.OnlineService" />

        <service
            android:name=".push.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".push.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".push.receiver.TickAlarmReceiver" />

        <receiver
            android:name=".push.receiver.ConnectivityAlarmReceiver"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".push.receiver.BootAlarmReceiver"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>